<footer class="flex justify-center items-center bg-customGray-dark">
  <div class="my-2 italic text-gray-400">Icons made by
    <a class="text-gray-300 hover:text-gray-200 hover:underline" target="_blank" href="https://www.freepik.com" title="Freepik">Freepik</a>,
    <a class="text-gray-300 hover:text-gray-200 hover:underline" target="_blank" href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a>, and
    <a class="text-gray-300 hover:text-gray-200 hover:underline" target="_blank" href="https://www.flaticon.com/authors/uniconlabs" title="Uniconlabs">Uniconlabs</a> from
    <a target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</footer>
