<header class="flex justify-center items-center dark:bg-customGray-dark">
  <nav class="w-2/3 flex flex-row items-center">
    <a class="flex flex-row items-center" [routerLink]="['/']">
      <img class="h-12" src="../../../assets/mcma_logo.png" alt="MCMA Logo"/>
      <h3 class="mx-4 uppercase font-sans font-bold text-xl dark:text-gray-50">Modules</h3>
    </a>
    <div class="flex-1"></div>
    <div *ngIf="idToken$ | async as idToken; else loginButton" class="flex flex-row items-center">
      <div class="w-6 h-6 bg-contain rounded-3xl mx-1" [style.background-image]="'url(' + idToken.picture + ')'"></div>
      <span class="text-white mx-1">{{ idToken.preferred_username }}</span>
    </div>
    <ng-template #loginButton>
      <button class="bg-turquoise-dark text-sm text-white font-bold uppercase w-24 h-8" [routerLink]="['login']">
        <fa-icon [icon]="faGithub"></fa-icon>
        Login
      </button>
    </ng-template>
  </nav>
</header>
